.signin-container {
    width: 60vw;
    height: 65vh;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: rgba(237, 237, 237, 0.364);
    box-shadow: 1px 1px 10px var(--blue);
    border-radius: 20px;
    align-self: center;

}

.signin-info, .signin-form {
    flex: 1;
}

.signin-gs-btn {
    width: 40%;
    height: 2rem;
    border-color: var(--grey);
    border-width: 1px;
    color: var(--grey);
    background-color: var(--cream);
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
}

.signin-gs-btn:hover {
    border-color: var(--blue);
    color: var(--blue);
    background-color: var(--cream);
}

.signin-header {
    color: var(--maroon);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.signin-description {
    font-size: 1rem;
    color: var(--blue);
    
}

.signin-subheader {
    color: var(--blue);
    text-align: center;
    font-size: 1.5rem;
}

.signin-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.signin-button {
    background-color: var(--blue);
    color: var(--cream);
    border-style: none;
    border-radius: 25rem;
    height: 7vh;
    width: 95%;
    align-self: center;
    transition: all 0.5s;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .02rem;
    cursor: pointer;
    flex-grow: 1;
}

.signin-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-button:hover {
    background-color: #3683d058;
    color: var(--blue);
}
  
.signin-form-control {
    height: 5vh;
    border-radius: .5rem;
    padding-left: 1rem;
    outline: none;
    border-width: 1px;
    border-color: var(--blue);
    box-shadow: 1.5px 1.5px 1.5px var(--blue);
    
}

.signin-form {
    align-self: center;
}

.signin-text{
    color: var(--grey);
}

.login-microsoft {
    width: 45%;
    height: 3rem;
    align-self: center;
    background-color: var(--cream);
    border-color: rgba(128, 128, 128, 0.459);
    border-width: 1px;
    color: var(--grey);
    font-size: .9rem;
    display: flex;
    align-items: center;    
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;

}

.login-microsoft:hover {
    border-color: var(--blue);
    color: var(--blue);
    border-width: 1px;
}

.signin-btn-logo {
    width: 30px;
    height: 30px;

}

.signin-text-center {
    color: var(--grey);
    text-align: center;
}

@media screen and (max-width: 767px) {
    .signin-container {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .signin-form-control {
        height: 5vh;
        border-radius: .5rem;
        padding-left: 1rem;
        outline: none;
        border-width: 1px;
        border-color: var(--blue);
        box-shadow: 1.5px 1.5px 1.5px var(--blue);
        width: auto;
        
    }

    .signin-form {
        width: 100%;
    }

    .login-microsoft {
        width: 70%;
    }
}

